body {
  background-color: #0c1d2f;
  color: white;
  padding: 0;
  margin: 0;
}
.dashboard {
  margin: 0;
}
.headNav {
  background-color: #051422;
  height: 5rem;
  width: fit;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
.headNav h1 {
  font-size: 2rem;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  list-style-type: none;
  color: white;
}
.navLinks li {
  margin-right: 1.9rem;
  cursor: pointer;
  font-size: 1.1rem;
}
.navLinks li a {
  color: white;
  text-decoration: none;
}
.navLinks li a:hover {
  color: yellow;
  text-decoration: none;
}
.navLinks li:hover {
  color: yellow;
}
.headNav p {
  margin-left: 6px;
  margin-top: 0;
  /* color: gray; */
  font-size: 1.2rem;
}
.headNav a {
  color: white;
  text-decoration: none;
}
.userProfile {
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
  color: white;
}
.userProfile:hover {
  color: gray;
}
.userProfile i {
  font-size: 1.2rem;
}
#menu {
  display: none;
}
.logo {
  display: flex;
}
#logo {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.8rem;
  margin-top: 10px;
}
.logo h1 {
  margin-left: 8px;
}
#inventorySearch,
#lowstocksearch,
#search,
#expiredsearch {
  background-color: white;
  border: none;
  border-radius: 2rem;
  height: 1.7rem;
  width: 14rem;
  padding-left: 9px;
  font-size: 0.96rem;
}
.edit-button {
  color: white;
  background-color: green;
  padding: 4px 10px;
  border-radius: 4px;
  text-decoration: none;
}
.delete-button {
  background-color: red;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 1.1rem;
}
.delete-button:hover {
  background-color: yellow;
  color: blue;
}
.badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  display: inline-block;
}
.quantity {
  display: block;
  width: 35%;
}
.Qform {
  margin-top: 16px;
  margin-left: 0px;
  display: none;
}
.Qform.open {
  display: block;
}
.Qform input {
  background-color: transparent;
  border-radius: 6px;
  border-color: white;
  color: white;
  padding: 3px;
  width: 100%;
}
.Qform button {
  font-size: 0.75rem;
  padding: 3px;
  margin-left: 5px;
  background-color: rgb(34, 193, 111);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  float: right;
}
#name {
  margin-top: 3rem;
}
#update {
  background-color: #27ae60;
  width: 3rem;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
#category,
#quantity,
#batch,
#expiry {
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 0.7rem;
}
#message {
  display: none;
  font-size: 1.3em;
}
#addProduct {
  text-decoration: none;
  background-color: #ffde59;
}
.out-of-stock {
  background-color: #d9534f;
}

.low-stock {
  background-color: #ffde59;
  color: black;
}

.in-stock {
  background-color: #5cb85c;
  color: black;
}
.status {
  color: #ffde59;
}
.expire {
  color: rgb(225, 66, 66);
}
.expiring {
  color: rgb(201, 145, 145);
}
.searchbar i {
  margin-right: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 3px;
}
.searchbar i:hover {
  color: gray;
}
.rightNav {
  display: flex;
}
.searchbar {
  margin-top: 1.7rem;
}
.mainBody {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 1rem;
}
.cards {
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  height: 7rem;
  width: 25%;
  padding: 1rem;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  border-radius: 7px;
  margin-bottom: 2rem;
  background-color: #1e2f45;
  /* color: #f0f4f8; */
  color: #b0c4d4;
  text-decoration: none;
}
.cards:hover {
  border-color: #f0f4f8;
}
.cards i {
  font-size: 1.6rem;
  color: white;
}
.mainBody aside {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.miniCards {
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  height: 4rem;
  width: 28%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 7px;
  margin-bottom: 2rem;
  background-color: #1e2f45;
  font-size: 1.3rem;
  display: flex;
  color: #f0f4f8;
  text-decoration: none;
  /* background-color: #007bff; */
}
.miniCards:hover {
  border-color: #ffde59;
}
.miniCards i {
  margin-top: 1.1rem;
  font-size: 1.8rem;
}
.miniCards p {
  margin-left: 0.7rem;
  color: #b0c4d4;
}
.addCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.adminpage {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;
  width: 80%;
}
.adminpage form {
  margin-top: 3rem;
}
.adminPage {
  margin-bottom: 1rem;
}
.adminPage label {
  font-size: 1rem;
}
.logout {
  text-decoration: none;
  background-color: yellow;
  padding: 5px;
  margin-left: 7rem;
  border-radius: 3px;
  float: right;
}
.adminback {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}
.adminPage input {
  margin-left: 1rem;
  border-radius: 4px;
  height: 20px;
  width: 14rem;
  background-color: transparent;
  color: white;
  border-color: rgb(168, 168, 121);
}
.adminPage select {
  margin-left: 1rem;
  border-radius: 4px;
  height: 20px;
  background-color: transparent;
  color: grey;
  border-color: rgb(168, 168, 121);
}
.adminpage form button {
  background-color: rgb(145, 145, 220);
  color: white;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.inventory-container,
.Lowstock-container,
.expired-container {
  /* padding: 20px; */
  color: #f0f4f8;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2rem;
}

.addcontainer {
  /* padding: 20px; */
  color: #f0f4f8;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 2rem;
}
.inventory-header,
.Lowstock-header,
.expired-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activitylogHeader {
  margin-top: 1rem;
}
.add-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 0px 10px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.add-btn:hover {
  background-color: #27ae60;
}

.inventory-filters,
.Lowstock-filters,
.expired-filter {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.Lowstock-filters {
  margin-top: 2px;
}
.searchbtn {
  background-color: #ffde59;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}
.inventory-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e2f45;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2rem;
}
.activitylogtable {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e2f45;
  border-radius: 8px;
  overflow: hidden;
}
.activitylogtable td {
  padding-left: 6rem;
  /* padding-right: 2rem; */
  padding-top: 1.3rem;
  padding-bottom: 0.8rem;
}
.inventory-table th,
.inventory-table td,
.activitylogtable th {
  padding: 18px;
  border-bottom: 1px solid #2a3d55;
}
.Lowstock-table,
.expired-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e2f45;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2rem;
}

.Lowstock-table th,
.Lowstock-table td,
.expired-table th,
.expired-table td {
  padding: 18px;
  border-bottom: 1px solid #2a3d55;
}
.status.low {
  color: #f1c40f;
}

.status.critical {
  color: #e74c3c;
}

.status.ok {
  color: #2ecc71;
}

.status.expired {
  color: #95a5a6;
}
#categoryFilter,
#LSFilter,
#expiredFilter {
  border-radius: 0.8rem;
  font-size: 12px;
  padding-left: 7px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
}
#ls {
  color: rgb(216, 54, 54);
}
#inventoryLogo {
  color: #f1c40f;
}
.lsc,
#totalStock {
  margin-top: 0;
  /* text-align: right; */
}
.cards div h1 {
  font-size: 1.8rem;
}
#back,
#backk {
  font-size: 2rem;
  margin-left: 6%;
  cursor: pointer;
}
.productDetails,
.productbody {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-size: 1rem;
}
.productbody {
  display: block;
}
.productBody {
  margin-left: 10%;
  margin-right: 10%;
  width: 60%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productfoot {
  margin-left: 10%;
  margin-right: 10%;
  width: 17%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productDetails h1 {
  font-size: 1.3rem;
}
#selectName {
  width: 48%;
  height: 2.5rem;
  margin-top: 29px;
  font-size: 0.9rem;
}
#supplier,
#batchno,
#expiryDate {
  font-size: 0.9rem;
}
#addStockForm input,
#category {
  width: 45%;
  padding: 10px;
  margin-top: 10px;
}
#addStockForm button {
  background: #1e40af;
  color: white;
  border: none;
  padding: 13px;
  cursor: pointer;
  /* float: right; */
  margin-top: 2rem;
  border-radius: 7px;
}
#addStockForm button:hover {
  background-color: #f1c40f;
  color: blue;
}
.addStoc p {
  width: 7.5rem;
  padding: 1rem 1rem;
  background-color: #f1c40f;
  border-radius: 8px;
  color: #212426;
}
.addStoc {
  text-decoration: none;
}
.addProduct p {
  width: 5.5rem;
  padding: 1rem 1rem;
  background-color: #f1c40f;
  border-radius: 8px;
  color: #212426;
  /* margin-top: 5rem; */
}
.addProduct p:hover {
  background-color: #1e40af;
  color: white;
}
.addStoc p:hover {
  background-color: #1e40af;
  color: white;
}
.addProduct {
  text-decoration: none;
}
#backs {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 6%;
}
#addStock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#category {
  width: 46.8%;
}
.addContainer {
  display: flex;
  justify-content: space-between;
}
.navlink {
  list-style-type: none;
  text-decoration: none;
  background-color: rgb(185, 157, 157);
  position: absolute;
  width: 80%;
  display: flex;
  margin-top: 0rem;
  text-align: end;
  padding: 4% 10%;
  justify-content: center;
  background-color: #1e2f45;
}
.navlink li {
  margin-right: 3rem;
  cursor: pointer;
}
.navlink li a {
  color: white;
  text-decoration: none;
}
.navlink li a:hover {
  color: yellow;
  text-decoration: none;
}
.navlink li:hover {
  color: yellow;
}
.mobilenav {
  display: none;
}
.mobilenav.open {
  display: block;
}
.adminpage table {
  margin-top: 5rem;
}
@media (max-width: 1200px) {
  .mainBody {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1rem;
  }
  .headNav {
    padding-left: 5%;
    padding-right: 5%;
  }
  .miniCards i {
    margin-top: 1.4rem;
    font-size: 1.3rem;
  }
  .miniCards p {
    margin-left: 0.7rem;
    color: #b0c4d4;
    font-size: 1.1rem;
    margin-top: 1.4rem;
  }
  .miniCards {
    height: 4rem;
    width: 24%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 7px;
    margin-bottom: 2rem;
    background-color: #1e2f45;
    font-size: 1.3rem;
    /* background-color: #007bff; */
  }
  .inventory-container,
  .Lowstock-container,
  .expired-container {
    /* padding: 20px; */
    color: #f0f4f8;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 2rem;
  }
  .addcontainer {
    /* padding: 20px; */
    color: #f0f4f8;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 850px) {
  .inventory-header h1,
  .Lowstock-header h1,
  .expired-header h1,
  .activityHeader h1 {
    font-size: 1.6rem;
  }
  .add-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 0px 10px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .inventory-table th,
  .inventory-table td,
  .activitylogtable th,
  .Lowstock-table th,
  .Lowstock-table td,
  .expired-table th,
  .expired-table td,
  .activitylogtable th,
  .activitylogtable td {
    padding: 10px;
    font-size: 0.9rem;
    border-bottom: 1px solid #2a3d55;
  }
  .badge {
    font-size: 0.7rem;
  }
  .addcontainer {
    /* padding: 20px; */
    color: #f0f4f8;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 2rem;
  }
  .addContainer h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  .adminpage h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 750px) {
  .mainBody {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1rem;
  }
  .cards {
    height: 4rem;
    width: 40%;
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    border-radius: 7px;
    margin-bottom: 2rem;
  }
  #logo {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 18px;
  }
  .logo h1 {
    margin-left: 8px;
    font-size: 1.4rem;
    margin-top: 1.8rem;
  }
  .navLinks li {
    margin-right: 1.9rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .headNav {
    padding-left: 3%;
    padding-right: 3%;
  }
  .userProfile i,
  .userProfile p {
    font-size: 1rem;
  }
  .navLinks li {
    margin-right: 1rem;
  }
  .mainBody h1 {
    font-size: 1.4rem;
  }
  .inventory-table th,
  .inventory-table td,
  .activitylogtable th,
  .Lowstock-table th,
  .Lowstock-table td,
  .expired-table th,
  .expired-table td {
    padding: 10px;
    font-size: 0.7rem;
    border-bottom: 1px solid #2a3d55;
  }
  .badge {
    font-size: 0.7rem;
  }
  #back,
  #backk {
    font-size: 2rem;
    margin-left: 1%;
    cursor: pointer;
  }
  #inventorySearch,
  #lowstocksearch,
  #search,
  #expiredsearch {
    background-color: white;
    border: none;
    border-radius: 2rem;
    height: 1.7rem;
    width: 14rem;
    padding-left: 9px;
    font-size: 0.8rem;
  }
  #addStock {
    display: block;
  }
  #addStockForm input {
    width: 70%;
    padding: 10px;
    margin-top: 25px;
  }
  #selectName {
    width: 74%;
  }
  .addStoc p {
    width: 6rem;
    padding: 0.6rem 0.6rem;
    font-size: 0.8rem;
  }
  .addProduct p {
    width: 4rem;
    padding: 0.6rem 0.6rem;
    font-size: 0.8rem;
  }
  #addStockForm button {
    background: #1e40af;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    /* float: right; */
    margin-top: 2rem;
    border-radius: 7px;
    font-size: 0.8rem;
  }
  #category {
    width: 73%;
  }
  .productBody {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .quantity {
    display: block;
    width: 45%;
  }
}

@media (max-width: 550px) {
  .mainBody {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin-top: 1rem;
  }
  .inventory-container,
  .Lowstock-container,
  .expired-container,
  .addcontainer {
    /* padding: 20px; */
    color: #f0f4f8;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 2rem;
  }
  .cards {
    height: 4rem;
    width: 35%;
    padding: 1rem;
    padding-top: 1.3rem;
    font-size: 1rem;
    border-radius: 7px;
    margin-bottom: 2rem;
  }
  .mainBody h1 {
    font-size: large;
  }
  .cards i {
    font-size: 1rem;
    color: white;
  }
  .miniCards i {
    margin-top: 0.1rem;
    font-size: 1rem;
  }
  .miniCards p {
    margin-left: 0rem;
    color: #b0c4d4;
    font-size: 0.9rem;
    margin-top: 3px;
  }
  .miniCards {
    display: block;
    height: 4rem;
    width: 20%;
    padding: 7px 1rem;
  }
  .inventory-table th,
  .inventory-table td,
  .activitylogtable th,
  .expired-table th,
  .expired-table td {
    padding: 10px;
    font-size: 0.5rem;
    border-bottom: 1px solid #2a3d55;
  }
  .badge {
    font-size: 0.4rem;
  }
  .add-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 0px 8px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7rem;
  }
  .searchbtn {
    background-color: #ffde59;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
  #inventorySearch,
  #lowstocksearch,
  #search,
  #expiredsearch {
    background-color: white;
    border: none;
    border-radius: 2rem;
    height: 1.7rem;
    width: 10rem;
    padding-left: 9px;
    font-size: 0.8rem;
  }
  .navLinks {
    display: none;
  }
  #menu {
    display: block;
    margin-top: 1.8rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .userProfile {
    margin-right: 1.7rem;
  }
  .quantity {
    display: block;
    width: 45%;
  }
  .productBody {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}
