body {
  background-color: #0c1d2f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 80vh; */
}
.welcomePage a {
  color: transparent;
  text-decoration: none;
}
.welcomePage p {
  background-color: transparent;
  padding: 7px;
  position: absolute;
  text-decoration: none;
  font-size: 2.3rem;
  top: 50%;
  width: 12rem;
  left: 43%;
  cursor: pointer;
}
#email,
#password {
  background-color: transparent;
  border-color: white;
  height: 30px;
  width: 20rem;
  padding: 3px;
  color: white;
}
#email {
  margin-top: 7px;
}
#password {
  margin-top: 7px;
}
#submit {
  background-color: #ffde59;
  border-color: transparent;
  border-radius: 10px;
  padding: 8px;
  width: 20rem;
  cursor: pointer;
  margin-top: 1.1rem;
  font-size: 1.1rem;
}
#submit:hover {
  background-color: #3534bb;
  color: #ffde59;
}
.loginPage {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #25405d;
  padding: 3rem 2rem;
  border-radius: 10px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10rem;
  width: 50%;
}
#userimage {
  height: 7rem;
  width: 8rem;
  border-radius: 5px;
  margin-top: 1rem;
  /* margin-left: 30%; */
}
.welcomePage {
  background-image: url("/Images/medii.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 97vh;
}

.loginPage form {
  margin-left: 2rem;
}
.loginPage form #error {
  color: rgb(216, 94, 94);
  text-align: right;
  margin-top: 2px;
  font-size: 11px;
  display: none;
  position: absolute;
}
form input {
  border-radius: 10px;
  margin-bottom: 1rem;
}
form {
  display: block;
}
form label {
  margin-left: 4px;
}
form p {
  font-size: 1.3rem;
}
@media (max-width: 1250px) {
  .loginPage {
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
  }
  #submit {
    background-color: #ffde59;
    border-color: transparent;
    border-radius: 10px;
    padding: 6px;
    width: 20rem;
    cursor: pointer;
    margin-top: 1.1rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 1200px) {
  .loginPage {
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
  }
  #submit {
    background-color: #ffde59;
    border-color: transparent;
    border-radius: 10px;
    padding: 6px;
    width: 20rem;
    cursor: pointer;
    margin-top: 1.1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .loginPage {
    display: block;
    text-align: center;
    position: relative;
    justify-content: space-between;
    background-color: #25405d;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    margin-top: 4rem;
  }
  #email,
  #password {
    height: 25px;
    width: 15rem;
  }
  #submit {
    width: 15rem;
  }
}
