extends navbarlayout

block content
  div
    i.fa-solid.fa-caret-left#backs

  .addcontainer
    .addContainer
      h2 Add a new Product
      div
        a.addProduct(href="/addStock") 
         p Add a batch
    form#addStockForm(action=`/addNewProduct/` method="POST")
      #addStock
        input#name(type="text" name="name" placeholder="Product Name", required)
        select#category(name="category")
          option(value="Equipment") Equipment
          option(value="Consumable") Consumables
          option(value="Medicine") Medicine
        input#quantity(type="number", name="quantity" placeholder="Quantity", required)
        input#supplier(type="text",name="supplier" placeholder="Supplier", required)
        input#batchno(type="text",name="batch_number" placeholder="BatchNumber", required)
        input#threshold(type="text",name="threshold" placeholder="Threshold", required)
        input#expiryDate(type="date", name="expiry_date" required)

        button#addproduct(type="submit") Add Product
   

    p#message Added to stock...

block scripts
  script(src="/addStock.js")