extends navbarlayout

block content
  div
    i.fa-solid.fa-caret-left#backs

  .addcontainer
    .addContainer
      h2 Add a new stock
      div
        a.addStoc(href="/addNewProduct") 
         p Add new Product
    form#addStockForm(action=`/addstock/` method="POST")
      #addStock
        //- label Select Product
        select#selectName(name="item_id" required )
          each item in items
            option(value=item.item_id)= item.name
        input#quantity(type="number", name="quantity" placeholder="Quantity", required)
        input#supplier(type="text",name="supplier" placeholder="Supplier", required)
        input#batchno(type="text",name="batch_number" placeholder="BatchNumber", required)
        input#expiryDate(type="date", name="expiry_date" required)

        button(type="submit") Add Batches
   

    p#message Added to stock...

block scripts
  script(src="/addStock.js")