extends navbarlayout

block content
  .dashboard
    .mainBody
      h1 Welcome, Admin
      aside
        a.cards(href="/inventory")
          i.fa-solid.fa-book#inventoryLogo
          div
            p Total items in inventory
            h1#totalStock
        a.cards#lowStock(href="/lowStock")
          div
            i.fa-solid.fa-circle-exclamation#ls
            p Low Stock Items
            h1.lsc#lowStockcount
        a.cards#expired(href="/expiredItems")
          div
            i.fa-solid.fa-calendar-xmark
            p Expired Items
            h1.lsc#expireditem
        a.cards#expired(href="/expiringitems")
          i.fa-solid.fa-alarm-clock
          p Expiring Soon
        .cards
          i.fa-solid.fa-star-half
          p Pending Order
        .cards
          i.fa-solid.fa-marker
          p History

      .addCards
        a.miniCards(href="/addStock")
          i.fa-solid.fa-plus
          p Add new supply
        .miniCards
          i.fa-solid.fa-address-book
          p Add stock
        .miniCards
          i.fa-solid.fa-pen
          p Create Order
block scripts
   script(src="/script.js")
