extends layout

block content
  .welcomePage
    h1 Welcome to MediStock!
    p
      | Please 
      a(href="/login") Login
      
    //- table
    //-   thead
    //-     tr
    //-       th Item
    //-       th Category
    //-   tbody
    //-     for item in items
    //-       tr
    //-         td= item.item_name
    //-         td= item.category
