doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MediStock
    link(rel="stylesheet", href="/CSS/styles.css")
  body
    block content
    script(src="/script.js")