extends layout

block content
  .loginPage
    div
      img#userimage(src="/Images/medi complete.png")
      h1 Welcome  to...
      p Medi-Stock is a user-friendly web apllication designed to help hospitals efficiently track, manage and update their medical supplies and equipment.
    
    form(action=`/authenticate/` method="POST")
      p Welcome to MediStock
      label(for="")  Email
      br 
      input#email(type="email", name="email",  required)
      br
      label(for="")  Password
      br
      input#password(type="password", name="password", required)
      br
      if error 
       p.errormsg= error
      button#submit(type="submit") Login

